$border-color: rgb(110 73 111 / 38%);
$background__color: rgb(149 115 155 / 32%);

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(167 166 164 / 63%);
  margin-top: 100px;
}

h1 {
  font-family: "Oswald";
  text-align: center;
  font-size: 60px;
  line-height: 57px;
}

.container {
  .slider {
    max-width: 600px;
    overflow: hidden;
    margin: 30px auto;
    border-radius: 10px;
    border: 2px solid black;

    .sliderLine {
      display: flex;
      transition: all ease 1s;
    }
  }
}
.button-all {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.button {
  font-family: "Oswald";
  width: 140px;
  text-transform: uppercase;
  height: 65px;
  border: 0;
  background: rgb(160 160 160 / 33%);
  font-weight: 500;
  line-height: 0;
  font-size: 30px;
  transition-property: all;
  transition-duration: 100ms;
  border-bottom: 4px solid $border-color;

  &-next {
    border-right: 3px solid $border-color;
    border-radius: 20px 0;

    &:hover {
      border-right: 1px solid $border-color;
    }
  }

  &-previous {
  
  
    border-radius: 0 20px;
    border-left: 3px solid $border-color;

    &:hover {
      border-left: 1px solid $border-color;
    }
  }
  &:hover {
    border-bottom: 2px solid $border-color;
    background: $background__color;
  }
  &:active {
    border: 0;
  }
}

// sass --watch scss/style.scss:css/style.css
